.content {
	max-width: 1600px;
	margin: auto;
}

body {
	background-color: #EBEBEB;
}

h1 {
	margin-top: 100px;
	margin-right: 300px;
	margin-left: 300px;
	text-align: center;
	font-family: HelveticaExtraBold; 
	font-size: 50px;
	letter-spacing: 2px;
	color: darkslateblue;
}

a {
	font-family: Helvetica;
	font-size: 20px;
}

h4 {
	font-family: HelveticaBold;
	font-size: 24px;
	color: black;
}

li{
	font-family: Helvetica;
	font-size: 18px;
	color: black;
}